@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ruby {
    display: flex;
    flex-direction: column;
  }
  @media (width >= 768px) {
    .ruby {
      display: ruby;
    }
  }
}
